@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

:root {
  --color-light-grey: #f5f8fc;
  --color-blue: blue;
}

.sidebar {
  /* background-color: green; */
  overflow-y: auto;
  border: 1px solid lightgray;
  min-width: 400px;
}

.preview-section {
  border: 1px solid lightgray;
  background-color: var(--color-light-grey);
  border-left: none;
}

.preview {
  /* background-color: coral; */
  padding: 20px;
  height: 92%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--color-light-grey);
  width: 100%;
  /* place-items: center; */
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 91vh;
}

.edit-container {
  padding: 20px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border-bottom: 1px solid lightgray; */
}

.subtitle {
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-left: 5px;
}

.text-edit {
  background-color: #f3f3f3;
  border: none;
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-weight: 300;
  letter-spacing: 1px;
}

.fonts-container {
  /* background-color: firebrick; */
  padding: 5px 0px;
}

.font-container {
  padding: 010px 20px;
  /* background-color: yellow; */
  /* margin: 5px; */
  overflow-wrap: break-word;
  border-top: 1px solid lightgray;
}

.font-container:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}

.font-name {
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.font-text {
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn {
  border: none;
  padding: 5px;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 5px;
}

.btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.meta {
  font-size: 0.8rem;
  padding: 0px 20px;
  color: darkgray;
  font-weight: 300;
}

.copied {
  background-color: green;
  outline-color: green;
  color: white;
}

.copied:hover {
  background-color: green;
}

.insta-container {
  background-color: white;
  /* padding: 10px; */
  width: 375px;
  overflow: hidden;
}

.twitter-container {
  background-color: #00acee;
  padding: 10px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.insta-nav {
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-headline {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.insta-name {
  font-size: 1.3rem;
}

.round-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #c13584;
}

.edit-profile {
  margin-top: 10px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}

.insta-bio {
  padding: 20px;
}

.insta-bio-link {
  padding-left: 20px;
}

.preview-sub {
  margin-left: 20px;
  padding-top: 20px;
}

.insta-feed-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 10px;
  border-top: 1px solid lightgray;
  /* border-bottom: 1px solid lightgray; */
  margin-top: 20px;
}

.insta-feed-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* padding: 20px; */
  gap: 3px;
  width: 100%;
  place-items: center;
  overflow: initial;
  /* padding-top: 10px; */
}

.feed {
  /* width: 100px; */
  width: 100%;
  height: 120px;
  background-color: #e6ecf4;
}

.selected-container {
  background-color: lightgrey;
  border: 1px solid var(--color-blue);
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 900;
}

/* Mobile devices ---------------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 810px) {
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .sidebar {
    /* height: 100vh; */
    width: 100%;
    min-width: 0px;
  }

  .preview-section {
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    /* padding-left: 0;
    padding-right: 0; */
  }
  .insta-container {
    max-width: 400px;
    height: 650px;
  }

  .twitter-container {
    max-width: 400px;
    height: 650px;
  }
}
